[Unit]
Description=EPICS Archiver Appliance
Requires=network.target
After=network.target archappl-prep.service archappl@mgmt.service archappl@engine.service archappl@etl.service archappl@retrieval.service
Requires=archappl-prep.service archappl@mgmt.service archappl@engine.service archappl@etl.service
Wants=archappl@retrieval.service

[Service]
Type=oneshot
ExecStart=/usr/share/appl/wait-ready.sh
RemainAfterExit=yes
StandardOutput=journal+console

TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
